
@{
    ViewBag.Title = "Index";
}

<h2>Home Page </h2>
<div style="text-align:center">
    <h4>
        Our state-of-the-art labs for high-performance computing, networks and state od the art teachers will give you experience with the equipment you’ll use in the field. Through labs, lectures and projects, you’ll also:
        <br>
    </h4>
</div>
<ul>

    <li>
        Design and create new software, and modify and test existing software used in a broad range of businesses and industries
    </li>
    <li>
        Develop new or improve existing algorithms
    </li>
    <li>
        Explore emerging software/hardware technologies
    </li>
</ul>
    
