
@{
    ViewBag.Title = "Semester";
}

<h2>Semester 5 </h2>

<ul>
    <li>
        Database Systems Administration - Robert Bierman
    </li>
    <li>
        Software Testing and Quality Assurance - Christine Gerard
    </li>
    <li>Building Windows and Web Applications - Brendan Wood</li>
    <li> Final Project 1 - Legacy to Mobile - Amin Ranj Bar </li>
    <li>Mobile Application Development - Christine Gerard </li>
    <li>Career Planning - Pedro Cabrejo </li>
</ul>

