
@{
    ViewBag.Title = "Testimonial";
}

<h2>Testimonial</h2>
<div style="text-align:center">
    <h4>"This course has been a roller coaster of experiences. From pain to accomplishements we lived it all. it's a great place to challeges ourselves !" <b>- Hicham Belkaid </b> </h4>

    <h4>"True bonds are created in this course, and only awesome memories will remain" <b>-Anonymous</b> </h4>
</div>

